#application .navbar .brand {
	color: #dddddd;
}
.navbar-form {
	margin-top: .1em;
}
.navbar .btn:hover {
	background-position: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
#map {
	height: 100%;
	width: 100%;
	position: fixed;
	margin-top: 3em;
}
#map img {
	max-width: none;
}
#map label {
	width: auto;
	display: inline;
}
